/* small screen */
.container {
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
}

.hero__title {
    color: #4361ee;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.hero__genre {
    color: #4361ee;
    margin-bottom: 1rem;
    font-size: 1.59rem;
}

.hero__description {
    color: #4361ee;
    margin-bottom: 1rem;
}

.hero__button:hover {
    background-color: #2e4dd4;
}

.hero__image {
    min-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.modal_dialog_trailer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal_dialog_trailer iframe {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #bebebe, #7d7d7d);
        padding: 3px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 800px;
    aspect-ratio: 16/9;
}

/* medium screen */
@media (min-width: 768px) {}

/* large screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 40%;
    }

    .hero__right {
        flex-basis: 60%;
    }
}
