/* small screen */
.container {
    margin: 1rem;
}

.movies {
    margin: 5rem 0;
    text-align: center;
}

.movies__title {
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: #4361ee;
}

.movies__title::before{
    content: '';
    background: red;
    inset: 10px;
    width: auto;
}

.movie__container {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}

.movie {
    margin-bottom: 1rem;
    padding: 0.25rem;
}

.movie__image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}

.movie__image_container{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.movie__image_container img{
    transition: scale 0.2s linear;
    
    &:hover{
        scale: 1.05;
    }
}


.movie__image_container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.148);
    position: absolute;
    border-radius: 20px;
    z-index: -1;
    rotate: 0;
    transition: rotate .2s linear;
}
.movie__image_container:hover::before {
    rotate: 20deg;
}


.movie__title {
    color: #4361ee;
    font-size: 1.95rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.movie__date {
    color: #64748b;
}

/* medium screen */
@media (min-width: 768px) {
    .movie__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .movie {
        flex-basis: 50%;
    }
}

/* large screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .movie {
        flex-basis: 25%;
        padding: 0.5rem;
    }
}
