@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    background: #edf4fc;
    padding: 1rem 2rem;
}

.header {
    text-align: center;
    color: #4361ee;
}

.form {
    max-width: 1200px;
    margin: auto;
}

.form__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__right {
    flex: 1;
}

.form__input_group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: large;
}

.form__input {
    background-color: white;
    font-size: large;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: "Kanit";
}

.form__input:focus {
    outline: 2px solid #4361ee;
}

.form__input_file_hidden {
    display: none;
}

.form__input_file_label {
    max-width: 100%;
    width: 300px;
    height: 444px;
    max-height: fit-content;
    min-width: fit-content;
    border: dashed 5px #bec3db;
    background: white;
    border-style: dashed;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: url(/cursor-plus.svg), auto;
}

.form__image_preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* medium screen */
@media (min-width: 768px) {
    .form {
        display: flex;
        gap: 30px;
    }
}

/* large screen */
@media (min-width: 992px) {}

.form__button {
    background-color: #4361ee;
    color: white;
    cursor: pointer;
    font-family: "Kanit";
}

.form__button:hover {
    background-color: #2442c7;
}

.form__button:focus {
    outline: 2px solid #4361ee;
    outline-offset: 3px;
}
